.userSection {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    @include flex(row, space-between, center);
}

.userBackground {
    width: 40%;
    height: 80vh;
    border-radius: 0px 0px 0px 0px;
    background: url('../assets/images/bg5.png'), $lightBg1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flex(column, flex-start, flex-start);
    border: 2px solid $lighBorder;

    img {
        width: 330px;
        height: 330px;
        // border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
        background-color: $darkBg ;
        border: 2px solid $lightBorder2;
    }
}

.userName {
    @include flex(column, center, center);
    width: 50%;
    height: 80%;
    color: $textColor;
    font-family: Inter;
    padding: 20px;

    .name {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 2px solid $lighBorder;
    }

    .subtext {
        text-align: center;
        font-size: 18px;
    }

}

svg {
    font-family: Inter;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 150px;
}

@keyframes stroke {
    0% {
        fill: rgba($color: #09e6ff70, $alpha: 0);
        stroke: rgba($color: #09e6ff70, $alpha: 1.0);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba($color: #09e6ff70, $alpha: 0);
        stroke: rgba($color: #09e6ff70, $alpha: 1.0);
    }

    80% {
        fill: rgba($color: #09e6ff70, $alpha: 0);
        stroke: rgba($color: #09e6ff70, $alpha: 1.0);
        stroke-width: 3;
    }

    100% {
        fill: rgba($color: #09e6ff70, $alpha: 1);
        stroke: rgba($color: #09e6ff70, $alpha: 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}


.iconContainer {
    .projectImages {
        height: 200px;
        width: 350px;
        object-fit: contain;
        margin: 50px 0px;
    }

    @include flex(column, flex-start, flex-start);

    .iconBox {
        margin-bottom: 20px;
        padding: 10px;
        @include flex(column, flex-start, flex-start);

        &:hover {
            cursor: pointer;

            .icons {
                color: $textColor;
            }

            .iconName {
                color: $textColor;
            }
        }
    }


    .icons {
        font-size: 20px;
        color: $lightText
    }

    .iconName {
        font-size: 12px;
        color: $lightText
    }
}

.portfolioSection {
    width: 100%;
    height: 100%;
    @include flex(row, space-between, flex-start);

    .myWork {
        width: 50%;
        @include flex(column, flex-start, flex-start);
    }

    .projects {
        width: 40%;
        @include flex(column, flex-start, flex-start);

        .skillBox {
            width: 90%;
            margin-bottom: 15px;
            @include flex(row, flex-start, center);

            .icons {
                font-size: 20px;
                color: $textColor;
                margin-right: 20px;
            }

            .iconName {
                font-size: 20px;
                color: $textColor
            }
        }
    }
}

.second-work {
 
    border-bottom: 1px solid $lightBorder2;
    padding: 50px 0px;
   
.techContainer{
    @include flex(row, flex-start, center);
    margin-bottom: 50px;

}
    .projectsIcon {
    
        width: 120px;
        height: 100px;
        @include flex(column, center, center);
        .icons {
            font-size: 30px;
            margin: 0px;
        }
    }





}

.contactSection {
    width: 100%;
    height: 100%;
    padding: 30px;

    .contactList {
        width: 50%;

        a {
            text-decoration: none;
            @include flex(row, flex-start, center);
            margin: 30px 0px 30px 0px;

            &:hover {
                .icons {
                    transform: scale(1.5);
                    cursor: pointer;
                }
            }
        }

    }
}

.iconsContainer {
    @include flex(row, flex-start, flex-start);
    margin: 30px 0px 30px 0px;
}

.icons {
    color: $textColor;
    font-size: 25px;
    margin-right: 25px;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.5);
        cursor: pointer;
    }
}

.homeIcons {
    @include flex(row, center, center);

}

.messageArea {
    @include flex(row, space-between, center);

    .sendMessage {
        @include flex(column, flex-start, flex-start);

        .btn {
            padding: 10px 20px;
            margin: 20px 0px;
            border-radius: 20px;
            border: 2px solid $textColor;
            background: transparent;
            color: $textColor;

            &:hover {
                color: $lightText;
                border: 2px solid $lightText;
                cursor: pointer;
            }
        }
    }
}


.textInput {
    margin-top: 20px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid $lighBorder;
    caret-color: $textColor;
    color: $textColor;
    font-size: 14px;
    font-family: Inter;
    padding: 10px;
    margin-right: 20px;

    &::placeholder {
        color: $textColor;
    }
}



@media screen and (max-width:1024px) {
    .text {
        font-size: 14px;
    }

    .userBackground {
        height: 60vh;

        img {
            width: 250px;
            height: 250px;
        }
    }

    .portfolioSection {

        .projects {
            .skillBox {
                width: 100%;

                .icons {
                    font-size: 25px;
                    color: $textColor;
                    margin-right: 15px;
                }

                .iconName {
                    font-size: 16px;
                    color: $textColor
                }
            }
        }
    }
}


@media screen and (max-width:798px) {

    .portfolioSection {
        padding: 0px;

    }

    .userSection {
        width: 100%;
        height: 100%;
        @include flex(column, space-between, center);
    }

    .userBackground {
        width: 90%;
        height: 50vh;

        img {
            width: 230px;
            height: 230px;
        }
    }

    .userName {
        width: 100%;
        height: 100%;
    }

    .portfolioSection {
        flex-direction: column;

        .myWork {
            width: 100%;
            margin-top: 50px;
            .h1{
                margin-bottom: 50px;
            }
        }

        .projects {
            width: 100%;
        }
    }

}

@media screen and (max-width:650px) {


    .contactSection {
        .contactList {
            width: 100%;
        }
    }

    .messageArea {
        @include flex(column, flex-start, flex-start);

        .sendMessage {
            textarea {
                width: 100%;
            }
        }
    }
}