// particles
.particles-display {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    #tsparticles {
        background-position: left;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}
