*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;   
}


@import './mixings';
@import '../layout/index.scss';
@import '../components/components';
@import '../pagesComponent/index';

body{
    font-family: Inter;
}   



.h1{
    font-size: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba($color: #09e6ff70, $alpha: 2.0);
    color: rgba($color: #09e6ff70, $alpha: 2.0);
    text-align: center;

}


.h2{

}

.text{
    text-align: center;
        font-size: 20px;
    color: rgba($color: #09e6ff70, $alpha: 2.0);

}