.section {
    width: 100%;
    position: relative;
}

.content {
    position: absolute;
    bottom: 7vh;
    left: 10%;
    z-index: 10;
    width: 80%;
    height: 80vh;
    margin: auto;
    @include flex(row, flex-start, flex-start);
    // background-color: rgba($color: #09e6ff70, $alpha: 0.1);
    border-radius: 10px;
}


.navbar {
    width: 80%;
    height: 6vh;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
    background-color: rgba($color: #09e6ff70, $alpha: 0.2);
}

.navLink {
    @include flex(row, flex-end, center);
    list-style-type: none;

    li {
        margin-right: 20px;

        a {
            font-family: Inter;
            @include flex(row, center, center);
            text-decoration: none;
            color: #ffffff;
            padding: 10px;
            border-bottom: 2px solid rgba($color: #09e6ff70, $alpha: 0.2);

            &:hover {
                border-bottom: 2px solid #ffffff;
            }
        }
    }
}