.section {
    width: 100%;
    position: relative;
}

.content {
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 7vh;
}


.navbar {
    width: 80%;
    height: 6vh;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
    background-color: rgba($color: #09e6ff70, $alpha: 0.2);
}

.navLink {
    @include flex(row, flex-end, center);
    list-style-type: none;

    li {
        margin-right: 20px;

        a {
            font-family: Inter;
            @include flex(row, center, center);
            text-decoration: none;
            color: rgba($color: #09e6ff70, $alpha: 1);

            padding: 10px;
            border-bottom: 2px solid rgba($color: #09e6ff70, $alpha: 0.1);

            &:hover {
                border-bottom: 2px solid rgba($color: #09e6ff70, $alpha: 2.0);

            }
        }
    }
}

.activeClass {
    border-bottom: 2px solid rgba($color: #09e6ff70, $alpha: 2.0) !important;
    color: rgba($color: #09e6ff70, $alpha: 2.0) !important;
}